* {
    /* フォームに関するデフォルトCSSを初期化 */
    -webkit-appearance: none;
}

body {
    background-color: #EFEFEF;
}

p {
    font-weight: bold;
}

header {
    text-align: center;
    background-color: rgb(188, 239, 252);
    padding: 10px;
    font-weight: bold;
}

header h1 {
    font-size: 22px;
}

header p {
    margin-bottom: 0;
}

.container {
    width: 80%;
    padding: 0;
}

input, select {
    font-size: 30px;
}

.result {
    font-size: 25px;
}

.work {
    display: flex;
}

.box {
    width: 50%;
}


/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
    p {
        font-size: 1.2rem;
    }

    input, select {
        font-size: 1rem;
    }

    select {
        font-size: 1.25rem;
    }
}