* {
    -webkit-appearance: none;
}

body {
    background-color: #EFEFEF;
}

header {
    text-align: center;
    font-weight: bold;
    background-color: rgb(188, 239, 252);
    border-top: double 15px white;
    border-bottom: double 15px white;
}

header p {
    font-size: 15px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    margin: 10px 0;
}

p {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: darkblue;
}

.inputSize {
    font-size: 30px;
}

footer {
    background-color: white;
    text-align: center;
    background-color: rgb(188, 239, 252);
    border-top: solid 1px;
    height: 50px;
}

footer p {
    font-size: 12px;
    line-height: 50px;
}